
html, body {min-height: 100vh;}
* {box-sizing: border-box;
margin: 0;
padding: 0;}

body {display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #FAFAF9;
font-family: "Sora", sans-serif;
font-optical-sizing: auto;
line-height: 1.5em;}

.card {background-color: white;
border-radius: 15px;
max-width: 368px;
margin: 0 auto;
box-shadow: 5px 5px 15px 5px #E6D6FC;
padding: 16px;
padding-bottom: 20px;
}

.header img {width: 100%;
border-radius: 15px;
max-width: 336px;
height: 152px;
margin-bottom: 16px;
}

.header h2 {
font-size: 10px;
color: #883AE1;
background-color: #E6D6FC;
padding: 6px 16px;;
display: inline;
border-radius: 10px; 
margin: 16px 0;}

.content h1 {
font-size: 18px;
margin-top: 16px;
margin-bottom: 6px;
color: #20293A;}

.content p {color: #6C727F;
font-size: 14px;
padding-bottom: 20px;
border-bottom: solid thin #E5EAF0;}


.name p {color: #6C727F;
font-size: 12px;
margin-top: 20px;
}